@import url('./fonts.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.font-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    height: 100vh;
    min-height: 900px;
    background-image: url("../images/castelmezzano1979546.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 100pc 100pc 0 0 rgba(0,0,7,0.25);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-content{
    width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
}
.header-logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 196px;
    padding-right: 5px;
}
.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-links{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 24px;
}
.header-links p{
    padding-right: 24px;
}

.header-links hr{
    position: absolute;
    width: 50px;
    bottom: -12px;
    left: 5px;
}
.header-img{
    display: flex;
    align-items: center;
    width: 94px;
    justify-content: space-between;
}
.header-slogan{
    font-size: 50px;
    margin-bottom: 145px;
}
.header-search{
    background-color: #FFFFFF;
    border: 3px solid #F3F3F4;
    border-radius: 8px;
    margin-bottom: 120px;
    width: 1230px;
    height: 64px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.search-input input{
    font-size: 18px;
    color: #383838;
    padding: 20px 24px;
    border-radius: 8px;
    border-style: solid;
    width: 468px;
}
.input{
    position: relative;
}
.input input{
    border: none;
}
.search-input p{
    position: absolute;
    top: -44px;
    left: 24px;
}
.data{
    width: 260px;
    margin-top: -3px;
    border-color: #F5BD41;
    padding: 16px 24px;
    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    height: 64px;
    position: relative;
}
.data p{
    position: absolute;
    top: -44px;
    left: 24px;
}

.filter{
    width: 310px;
    color: #383838;
    padding: 22px 24px;
}
.header-button button{
    margin-top: -3px;
    margin-right: -3px;
    font-size: 24px;
    height: 64px;
    width: 192px;
    color: #FFFFFF;
    background-color: #3077C6;
}
.header-apps{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
.header-apps img{
    margin-right: 16px;
}

.main{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    border: 0;
    height: 4px;
    background: #F5BD41;
    width: 100px;
    margin-top: 20px;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block_offer{
    background: #FFFFFF;
}
.section-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 120px;
    font-weight: 500;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title p{
    margin: 0;
}

.offer_icons{
    width: 1240px;
    padding: 80px 0 120px;
    display: flex;
    justify-content: space-between;
}
.icon{
    width: 296px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.icon p{
    margin: 0;
    padding-top: 48px;
}

.homes-guests{
    background: #EAF0F9;
}
.offer-hotel{
    width: 1240px;
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
    padding-bottom: 120px;
}
.hotel-foto{
    width: 300px;
    height: 435px;
}
.hotel-foto p{
    padding-top: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #3077C6;
}
.hotel-foto span{
    color: #BFBFBF;
}
.foto-relative{
    position: relative;
}
.arrow-right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    text-align: right;
}

.best-destinations{
    background-color: #FFFFFF;
    display: flex;
}
.destination-select{
    width: 1240px;
}
.destinations-button{
    width: 620px;
    height: 65px;
    background-color: #F3F3F4;
    border-radius: 8px;
    margin: 105px 0 65px;
    display: flex;
}
.destinations-button button{
    border-width: 0;
    border-radius: 8px;
    font-size: 24px;
    height: 65px;
}
.button-regions{
    background-color: #3077C6;
    color: #FFFFFF;
    width: 190px;
}
.button-cities{
    width: 190px;
}
.button-places{
    width: 240px;
}
.destination-foto{
    width: 1240px;
    display: flex;
    justify-content: space-around;
    margin: 0 104px 35px;
}
.destination-foto p{
    padding-top: 24px;
    color: #3077C6;
}
.destination-foto1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Maldives.jpg");
    width: 296px;
    height: 296px;
    box-shadow: inset 0 0 104px 8px rgba(56, 56, 56, 0.4);
}
.destination-foto1 img{
    position: relative;
    z-index: -2;
    opacity: 70%;
}
.button-blue{
    font-size: 18px;
    width: 128px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #3077C6;
    border-radius: 8px;
    color: #3077C6;
}
.arrow-down{
    text-align: center;
    margin-bottom: 105px;
}


.sing-up{
    width: 1240px;
    height: 200px;
    background-color: #EAF0F9;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}
.sing-up-user{
    padding: 0 24px;
    width: 700px;
    height: 200px;
    display: flex;
    align-items: center;

}
.sing-up-user p{
    padding-bottom: 21px;
    font-weight: 500;
}
.sing-up img{
    top: 24px;
}
.sing-up-booking{
    padding-left: 24px;
}
.sing-up-close{
    padding: 24px;
}

.guests-reviews{
    width: 1240px   ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.reviews{
    margin-top: 104px;
}
.reviews-image{
    position: relative;
    width: 400px;
    height: 400px;
}
.reviews-price{
    width: 100%;
    height: 48px;
    font-size: 18px;
    padding: 12px 24px;
    background-color: #383838;
    opacity: .7;
    position: absolute;
    bottom: 0;
}
.reviews-price p{
    color: #FFFFFF;
    opacity: 1;
}
.reviews-content{
    background-color: #EAF0F9;
    height: 360px;
}
.reviews-hotel{
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 8px;
}
.reviews-hotel p{
    font-size: 18px;
    color: #3077C6;
}
.reviews-score {
    width: 48px;
    height: 32px;
    border-radius: 8px;
    background-color: #10367C;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.reviews-plase{
    display: flex;
    justify-content: space-between;
    padding: 0 24px 24px;
}
.plase-countru{
    color: #3077C6;
    font-size: 18px;
}
.plase-views{
    color: #BFBFBF;
    font-size: 14px;
}

.reviews-account{
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}
.reviews-account img{
    padding: 0 16px 0 24px;
}
.user-name{
    font-size: 18px;
    padding-bottom: 8px;
}
.user-countru{
    color: #BFBFBF;
    font-size: 14px;
}
.reviews-text{
    width: 400px;
    font-size: 18px;
    padding: 0 24px 65px;
}

.footer{
    padding: 100px 0;
    background-color: #10367C;
    width: 100%;
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer li{
    list-style-type: none;
    margin: 24px 0;
}
.footer-content{
    width: 1240px;
    display: flex;
}
.footer-content div{
    width: 33.33%;
}
footer p{
    width: 1240px;
    padding-top: 40px;
    text-align: left;
    font-size: 14px;
}
