@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #BFBFBF;
}
main{
    max-width: 1440px;
    margin: auto;
}
.block_offer{
    background: #FFFFFF;
    margin: 0 auto;
}
.section-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 120px;
    font-weight: 500;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title p{
    margin: 0;
}
.section-title hr{
    border: 0;
    height: 4px;
    background: #F5BD41;
    width: 100px;
    margin-top: 20px;
}
.offer_icons{
    padding: 80px 105px 120px;
    display: flex;
    justify-content: space-evenly;
}
.icon{
    width: 296px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.icon p{
    margin: 0;
    padding-top: 48px;
}

.homes-guests{
    background: #EAF0F9;
}
.offer-hotel{
    position:relative;
    display: flex;
    justify-content: space-between;
    margin: 105px 105px 0;
    padding-bottom: 120px;
}
.hotel-foto{
    width: 300px;
    height: 435px;
}
.hotel-foto p{
    padding-top: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #3077C6;
}
.hotel-foto span{
    color: #BFBFBF;
}
.arrow-right{
    position: absolute;
    top: 128px;
    right: -20px;
}